@import 'stab/variables';
@import 'stab/mixins';

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  tap-highlight-color: rgba(0,0,0,0);
}

@include s-img-r;
@import 'stab/grids';
@import 'stab/align';
@import 'stab/animations';
