@mixin clear-fix {
  &:before, &:after{
    content: "";
    display: block;
    clear: both;
  }
}


@mixin margin($value) {
  margin-right: $value;
  margin-left: $value;
}


@mixin padding($value) {
  padding-right: $value;
  padding-left: $value;
}


@mixin s-img-r {
  .s-img-r {
    @include margin(auto);
    max-width: 100%;
    height: auto;
  }
}


@mixin s-collumn-list {
  @for $i from 1 through $columns {
    .s-l-#{$i}, .s-m-#{$i}, .s-s-#{$i}, .s-x-#{$i} { @extend %stab-collumn-list-style; }
  }
}