@mixin clear-fix {
  &:before, &:after{
    content: "";
    display: block;
    clear: both;
  }
}


@mixin margin($value) {
  margin-right: $value;
  margin-left: $value;
}


@mixin padding($value) {
  padding-right: $value;
  padding-left: $value;
}


@mixin s-img-r {
  .s-img-r {
    display: block;
    @include margin(auto);
    max-width: 100%;
    height: auto;
  }
}


@mixin s-text-align($position) {
  .s-text-align-#{$position} {
    text-align: $position;
  }

  @media (max-width: $screen-m-max) {
    .s-text-align-m-#{$position} {
      text-align: $position;
    }
  }

  @media (max-width: $screen-s-max) {
    .s-text-align-s-#{$position} {
      text-align: $position;
    }
  }

  @media (max-width: $screen-x-max) {
    .s-text-align-x-#{$position} {
      text-align: $position;
    }
  }
}


@mixin s-collumn-list {
  @for $i from 1 through $columns {
    .s-l-#{$i}, .s-m-#{$i}, .s-s-#{$i}, .s-x-#{$i} { @extend %s-collumn-list-style; }
  }
}