$columns: 12;

$default-margin: 15px;
$screen-m-max: 1200px;
$screen-s-max: 992px;
$screen-x-max: 768px;

$container-l-max: 1170px;
$container-m-max: 970px;
$container-s-max: 750px;
$container-x-max: 100%;