$default-margin: 15px;
$screen-m-max: 1200px;
$screen-m-min: 1199px;
$screen-s-max: 992px;
$screen-s-min: 991px;
$screen-x-max: 768px;
$screen-x-min: 767px;


$container-l-max: 1170px;
$container-m-max: 970px;
$container-s-max: 750px;
$container-x-max: 100%;


$columns: 12;